Hearder {
    text-align: center;
    font-family:cursive;
}

Nav {
    text-align: center;
    font-family:cursive;
}

aside {
    text-align: left;
    color:rgb(0, 133, 250);
    font-family:cursive ;

}

h1 {
    background-color: darkblue;
    color:aliceblue;
}

Body {
    background-color: aquamarine
}

h2 {
    color:rgb(255, 255, 255);
    background-color:rgb(20, 14, 112);
    text-align: center;
}

    img {
        display: block;
        margin: auto;
      }
      